#login-panel {
    float: right;
    width: 8em;
}

#login-field {
    width: 6em;
}

#search-panel {
    float:left;
}

#search-field {
    font-size: 1.2em;
    width: 12em;
}

#search-button {
    font-size: 1.2em;
}

#results-panel  {
    margin: 1em 0;
    height: 80%;
    float: left;
}

#results-panel li {
    list-style-type: none;
    padding: .4em .1em;
    clear: both;
}


.book-image {
    float: left;
}

.book-title {
    font-size: 1.1em;
    font-weight: bold;
}

.book-author {

}

.borrow-button {
    margin: 0 1em;
}

#user-panel {
    float: right;
}

.return-button {
    margin: 0 1em;
}
