<% title "Library" %>

<p>
  <strong>Location:</strong>
  <%=h @library.location %>
</p>

<p>
  <%= link_to "Edit", edit_library_path(@library) %> |
  <%= link_to "Destroy", @library, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", libraries_path %>
</p>
